{% extends "base.html" %}

{#номер лабораторной работы: #}
{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %} 
<script>
    function getOfficeList() {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            ul.innerHTML = ''; // Очистим список перед обновлением
            for (let i = 0; i < office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                li.innerText = `${office.number}: ${office.tenant || 'свободен'} (Цена: ${office.price} руб.)`;

                if (!office.tenant) {
                    const bookingButton = document.createElement('button');
                    bookingButton.innerText = 'Зарезервировать';
                    bookingButton.className = 'reserve'; 
                    bookingButton.onclick = function() { booking(office.number); };
                    li.appendChild(bookingButton);
                } else {
                    const cancelButton = document.createElement('button');
                    cancelButton.innerText = 'Освободить';
                    cancelButton.className = 'cancel';
                    cancelButton.onclick = function() { cancel(office.number); };
                    li.appendChild(cancelButton);
                }

                ul.appendChild(li);
            }

            calculateTotalCost(); // Обновляем общую стоимость
        });
    }

    function calculateTotalCost() {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'calculate_cost',
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                document.getElementById('total-cost').innerText = 'Авторизуйтесь, чтобы увидеть рассчитать стоимость.';
            } else {
                document.getElementById('total-cost').innerText = `Общая стоимость аренды: ${data.result} руб.`;
            }
        });
    }

    function booking(officeNumber) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'booking',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => handleResponse(data));
    }

    function cancel(officeNumber) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'cancellation',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => handleResponse(data));
    }

    function handleResponse(data) {
        if (data.error) {
            switch (data.error.code) {
                case 1:
                    alert('Вы не авторизованы. Пожалуйста, авторизуйтесь');
                    break;
                case 2:
                    alert('Офис уже арендуется');
                    break;
                case 3:
                    alert('Офис не арендован');
                    break;
                case 4:
                    alert('Вы не являетесь арендатором этого офиса');
                    break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        } else {
            getOfficeList();
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        getOfficeList();
    });
</script>
{% endblock %}

{#основной контент: #}
{% block main %}
    <style>
        button {
            padding: 1px 10px;
            margin-left: 10px;
            border: none;
            border-radius: 2px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button.reserve {
            background-color: #798848; 
            color: white;
        }
    
        button.reserve:hover {
            background-color: #6a773e; 
        }

        button.cancel {
            background-color: #ffa07a; 
            color: white;
        }
    
        button.cancel:hover {
            background-color: #f1906a;
        }

        li{
            padding: 2px;
        }
    </style>
    
    <h1>Список кабинетов</h1>
    <ul id="office-list"></ul>
    <h2 id="total-cost"></h2>
{% endblock %}