{% extends "base.html" %}

{#номер лабораторной работы: #}
{% block lab %}Лабораторная работа 8{% endblock %}

{#основной контент: #}
{% block main %}
<h1>Мои статьи</h1>
{% for article in articles %}
    <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.article_text}}</p>
        <a href="{{ url_for('lab8.edit_article', article_id=article.id) }}">Редактировать</a>
        <form action="{{ url_for('lab8.delete_article', article_id=article.id) }}" method="POST" style="display:inline;">
            <button type="submit">Удалить</button>
        </form>
    </div>
{% endfor %}
{% endblock %}