{% extends "base.html" %}

{#номер лабораторной работы: #}
{% block lab %}Лабораторная работа 8{% endblock %}

{#основной контент: #}
{% block main %}
    <style>
        button {
            display: inline-block;
            padding: 10px 10px;
            background-color: #e9edc9;
            color:#798848;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px; /* Скругленные углы */
            border: none;
            transition: 0.3s ease; /* Эффект при наведении */
            margin: 10px; /* Отступы */
            cursor: pointer;
        }
    </style>
    <h1>Создание статьи</h1>

    <form method="post">
        <label for="title">Заголовок</label>
        <input type="text" id="title" name="title" required><br>
        <div>Текст статьи:</div>
        <label for="article_text"></label>
        <textarea id="article_text" name="article_text" required></textarea><br>

        <label for="is_favorite">В избранное</label>
        <input type="checkbox" id="is_favorite" name="is_favorite"><br>

        <label for="is_public">Публичная</label>
        <input type="checkbox" id="is_public" name="is_public"><br>

        <div>
            <button type="submit">Сохранить</button>
        </div>
    </form>
    {% if error %}
    <div style="color: red; font-style: italic;"><br>{{ error }}</div>
    {% endif %}
{% endblock %}