{% extends "base.html" %}

{#номер лабораторной работы: #}
{% block lab %}Лабораторная работа 8{% endblock %}

{#основной контент: #}
{% block main %}
    <style>
        .menu {
            background-color: #f1d7bb;
            padding: 15px 0;
            text-align: center;
        }

        .menu a {
            text-decoration: none;
            color: #6a4b2d;
            font-weight: bold;
            margin: 0 8px;
            padding: 15px 15px;
            transition: background-color 0.3s;
        }

        .menu a:hover {
            background-color: #f0cfab;
        }

        .user {
            text-align: right;
            padding: 10px 0;
            font-size: 14px;
            color: #4a532d;
        }

        main {
            text-align: center;
        }

        .logout {
            display: inline-block;
            padding: 5px 10px;
            background-color: #f0cfab;
            text-align: right;
            text-decoration: none;
            font-size: 14px;
            border-radius: 5px; /* Скругленные углы */
            border: none;
            transition: 0.3s ease; /* Эффект при наведении */
            margin: 10px; /* Отступы */
            cursor: pointer;
            position: relative;
            left: 708px;
        }

        .list {
            display: inline-block;
            padding: 5px 10px;
            background-color: #f0cfab;
            text-align: right;
            text-decoration: none;
            font-size: 14px;
            border-radius: 5px; /* Скругленные углы */
            border: none;
            transition: 0.3s ease; /* Эффект при наведении */
            margin: -10px; /* Отступы */
            cursor: pointer;
            position: relative;
            left: 654px;
        }
    </style>
    <h1>База знаний</h1>
    <div class="menu">
        <a href="/lab8/articles">Список статей</a>
        <a href="/lab8/create">Создать статью</a>
        <a href="/lab8/login">Войти</a>
        <a href="/lab8/register">Регистрация</a>
    </div>
    <div class="user">
        Профиль: {{ current_user.login if current_user.is_authenticated else "Anonymous" }}
    </div>

    {% if current_user.is_authenticated %}
        <a href="/lab8/logout" class="logout">Выйти</a>
    {% endif %}
    <p><a href="/lab8/users" class="list">Список пользователей</a></p>
    <br><br><br>
{% endblock %}